.custom-file-input {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

.custom-file-label {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
}

.custom-file-label:hover {
    background-color: #f0f0f0;
}


/* Optional: Style the file input to make it invisible */

.custom-file-input input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}